/** HEADER E MENU HORIZONTAL**/
*{
    margin: 0;
    padding: 0;

}

html{
    
   
    border: 10px solid rgb(0, 255, 42);
   
}
body{
    
    border: 10px solid red;
    
    
}
:root{

    --font-family-principal: 'GT Walsheim Pro';
 
}

.cabecalho{
    display: grid;
    height: 100%;
    grid-template-rows: 100px 40px; 
    background-color: rgb(117, 181, 248);
    color: white;
    
}
.font_uppercase{
    text-transform: uppercase;
}
.logomarca{
    height: 100%;
    text-align: center;
    font-family: var(--font-family-principal);
    background-image: url(../images/img-cabecalho.png);
    background-position: 50% 60%;
    background-repeat: no-repeat;
   

}
.logomarca h1{
    margin: .8em 0 0.30em;
    line-height: 50%;
    font-size: 2.2em;
    
  
}

.menu-horizontal{
    height: 100%;
    margin: auto 0;
    background-image: var(--cor-menu-bgimg);
    box-shadow: 0px -5px 10px rgb(117, 181, 248);
    

}
.menu-horizontal ul{
    margin: 10px 0;
    text-align: center;  
    font-family: var(--font-family-principal);

}
.menu-horizontal ul li{
    display: inline-flex;
    list-style: none;
    margin: 0 10px;
}
.menu-horizontal ul li a{
    text-decoration: none;
    color: white;
}
/** CONTAINER PRINCIPAL **/
.container-principal{
    
    display: grid;
    height: 100%;
    grid-template-rows: 100% 100% 100% 3%;
    font-family: var(--font-family-principal);
}

/** SECTION SOBRE **/
.container-sobre-ch, .container-unidades-ch{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'imagem-sobre-esq conteudo-sobre-dir'
    ;
}
.conteudo-sobre-dir{
    grid-area: conteudo-sobre-dir;
   
    
    
   
}
div > h2{
    text-transform: uppercase;
    text-align: center;
    margin: 40% 10% 3%;
    background-color: rgb(117, 181, 248);
    color: white;
    border-radius: 10px;
    
}

.conteudo_paragrafo {
    text-align: justify;
    padding: 1% 10%;
}
.imagem-sobre-esq{
    grid-area: imagem-sobre-esq;
    background-image: url("../images/img-sobre.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1.5em black;
    border-radius: 3px;
    
}
/** SECTION UNIDADES **/
.container-unidades-ch{
    grid-template-areas: 
        'conteudo-unidades-esq imagem-unidades-dir'
    ;
}
.conteudo-unidades-esq{
    grid-area: conteudo-unidades-esq;
    

}
.imagem-unidades-dir{
    grid-area: imagem-unidades-dir;
    background-image: url("../images/img-unidades.jpg");
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1.5em black;
    border-radius: 3px;
}
/** SECTION CONTATO **/
.container-contato-ch{
    display: grid;
    height: 100%;
    grid-template-rows: 20% 80%;
    


}
.conteudo-contato h2{
    margin: 5% 10% 0 ;
    
}
.conteudo-contat{
    margin: 5% 10%;
}

.contato-form-fa{
    height: 100%;
    background-color: rgb(117, 181, 248);
    
}
.contato-form-ch{
    height: 90%;
    margin: 3% 10% 0;
    background-color: rgb(117, 181, 248);
    box-shadow: 0px 0px 15px rgb(33, 133, 240);
    border-radius: 10px;
    
}
.contato-form-ch form{
    height: 100%;
   
    
}
.contato-form-ch form p{
    font-size: 1.5em;
    
    color: white;
    
    
    
}
.contato-form-ch form p:first-child{
    margin-top: 20px;
}
.contato-form-ch form p:last-child{
    margin-top: 10px;
    
}
.contato-form-ch form input:last-child{
    cursor: pointer;
    box-shadow:  0px 0px 2px;
}
.contato-form-ch form input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin: 2px 0 10px 0px;
    box-shadow: inset 0px 0px 5px;
}

.contato-form-ch form textarea{
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px;
}
/** FOOTER **/
footer{
    background-color: white;
}
footer p{
    margin: 5px 0 0;
    text-align: center;
    color: rgb(117, 181, 248);;
}

/** CHATBOT **/
#chatbot{
 
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}