/** HEADER E MENU HORIZONTAL**/
*{
    margin: 0;
    padding: 0;

}
:root{

    --font-family-principal: 'GT Walsheim Pro';
 
}

.cabecalho{
    display: grid;
    height: 100%;
    grid-template-rows: 100px 40px; 
    background-color: rgb(117, 181, 248);
    color: white;
    
}
.font_uppercase{
    text-transform: uppercase;
}
.logomarca{
    height: 100%;
    text-align: center;
    font-family: var(--font-family-principal);
    background-image: url(../images/img-cabecalho.png);
    background-position: 50% 60%;
    background-repeat: no-repeat;
   

}
.logomarca h1{
    margin: .8em 0 0.30em;
    line-height: 50%;
    font-size: 2.2em;
    
  
}

.menu-horizontal{
    height: 100%;
    margin: auto 0;
    background-image: var(--cor-menu-bgimg);
    box-shadow: 0px -5px 10px rgb(117, 181, 248);
    

}
.menu-horizontal ul{
    margin: 10px 0;
    text-align: center;  
    font-family: var(--font-family-principal);

}
.menu-horizontal ul li{
    display: inline-flex;
    list-style: none;
    margin: 0 10px;
}
.menu-horizontal ul li a{
    text-decoration: none;
    color: white;
}
/** CONTAINER PRINCIPAL **/
.container-principal{
    
    display: grid;
    height: 100vh;
    grid-template-rows: 100vh 100vh 100vh 3vh;
    font-family: var(--font-family-principal);
}

/** SECTION SOBRE **/
.container-sobre-ch, .container-unidades-ch{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'imagem-sobre-esq conteudo-sobre-dir'
    ;
}
.conteudo-sobre-dir{
    grid-area: conteudo-sobre-dir;
   
    
    
   
}
div > h2{
    text-transform: uppercase;
    text-align: center;
    margin: 40% 10% 3%;
    background-color: rgb(117, 181, 248);
    color: white;
    border-radius: 10px;
    box-shadow: 0px -5px 10px rgb(117, 181, 248);
    
}

.conteudo_paragrafo {
    text-align: justify;
    padding: 1% 10%;
}
.imagem-sobre-esq{
    grid-area: imagem-sobre-esq;
    background-image: url("../images/img-sobre.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1.5em black;
    border-radius: 3px;
    
}
/** SECTION UNIDADES **/
.container-unidades-ch{
    grid-template-areas: 
        'conteudo-unidades-esq imagem-unidades-dir'
    ;
}
.conteudo-unidades-esq{
    grid-area: conteudo-unidades-esq;
    

}
.imagem-unidades-dir{
    grid-area: imagem-unidades-dir;
    background-image: url("../images/img-unidades.jpg");
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1.5em black;
    border-radius: 3px;
}
/** SECTION CONTATO **/
.container-contato-ch{
    display: grid;
    height: 100%;
    grid-template-rows: 20% 80%;
    


}
.conteudo-contato h2{
    margin: 5% 10% 0 ;
    
}
.conteudo-contat{
    margin: 5% 10%;
}

.contato-form-fa{
    height: 100%;
    background-color: rgb(117, 181, 248);
    
}
.contato-form-ch{
    height: 90%;
    margin: 3% 10% 0;
    background-color: rgb(117, 181, 248);
    box-shadow: 0px 0px 15px rgb(33, 133, 240);
    border-radius: 10px;
    
}
.contato-form-ch form{
    height: 100%;
   
    
}
.contato-form-ch form p{
    font-size: 1.5em;
    
    color: white;
    
    
    
}
.contato-form-ch form p:first-child{
    margin-top: 20px;
}
.contato-form-ch form p:last-child{
    margin-top: 10px;
    
}
.contato-form-ch form input:last-child{
    cursor: pointer;
    box-shadow:  0px 0px 2px;
}
.contato-form-ch form input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin: 2px 0 10px 0px;
    box-shadow: inset 0px 0px 5px;
}

.contato-form-ch form textarea{
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px;
}
/** FOOTER **/
footer{
    background-color: white;
}
footer p{
    margin: 5px 0 0;
    text-align: center;
    color: rgb(117, 181, 248);;
}

/** CHATBOT **/
#chatbotBotaoAbrir{
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: orange;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(117, 181, 248);
    box-shadow: 0px 0px 15px rgb(33, 133, 240);
    color: white;
    font-family: var(--font-family-principal);
}
#chatbotBotaoFechar{
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    background-color: orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(117, 181, 248);
    box-shadow: 0px 0px 15px rgb(33, 133, 240);
    color: white;
    font-family: var(--font-family-principal);
}
#chatBot{
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(117, 181, 248);
    border: 5px solid rgb(168, 201, 237);
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px rgb(33, 133, 240);
    width: 400px;
    height: 500px;
    margin: 10px;
    

}
.telaChat{
    display: grid;
    grid-template-rows: 95% 10%;
    width: 95%;
    height: 95%;
    margin: 10px;
    background-color:rgb(168, 201, 237);
    box-shadow: inset 0px 0px 15px rgb(33, 133, 240);
}
.displayDeMensagens{
    margin: 20px;
}
/* AREA DO BOT */
.areaDoBot{
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 10%;
    
}
.retrato{
    min-height: 100%;
    background-color: blue;
    padding: 0px;
   
}
.fotoDoRetrato{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
   
}
.areaDeMensagemBot{
    width: 100%;
    background-color: brown;
    height: 100%;
    
}
.mensagemBot{
    width: 100%;
    margin: 12px;
}
/* AREA DO CLIENTE */
#areaDoCliente{
    
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 20px;
    min-height: 10%;
    
}
.retratoCliente{ 
    padding: 20px;
    border-radius: 50%;
    background-color: aquamarine;
}
.areaDeMensagemCliente{
    width: 100%;
    background-color: brown;
    height: 100%;
    
}
.mensagemCliente{
    
    width: 100%;
    margin: 12px;
}

.teclado{
    display: flex;
    background-color: aliceblue;
    width: 90%;
    margin: 0px 20px 30px;
    justify-content: space-between;

}
.teclado input{
   width: 80%;
}
.teclado button{
    width: 19%;
}